<div #messagesContainer class="container-fluid pt-3">
  <div class="messages-container {{ isUser(message) ? 'is-user' : 'is-bot' }}" *ngFor="let message of messages">

    <div class="sender-name">{{ message.from.name }}</div>
    <div class="message-content">
      <span>{{ message.text }}</span>
    </div>
  </div>

  <div class="row message-input py-3">
    <div class="col-8 pr-1">

      <input class="form-control" type="text" autofocus placeholder="Enter your message"
             (keydown)="sendMessageKey($event)"
             [(ngModel)]="messageInput">
    </div>

    <div class="col-4 pl-1">
      <button class="btn btn-block send" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
