.container-fluid {
  min-height: 100vh;
  position: relative;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-content {
  border-radius: 25px;
  color: white;
  max-width: 80%;
  width: auto;
  float: left;
}

.sender-name {
  padding: 0 10px;
  color: #707070;
  font-size: 12px;
}

.is-bot {
  align-items: flex-start;
}
.is-bot .message-content {
  background: #5A95FC;
  padding: 10px;
}

.is-user {
  text-align: right;
  align-items: flex-end;
}
.is-user .message-content{
  background-color: #FF4136;
  padding: 10px;
}

.btn.send{
  background: #FF4136;
  color:white;
  border-radius: 25px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-control:focus{
  color: #ff4136 !important;
  background-color: #fff;
  border-color: #ff4136!important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255, 65, 54)!important;
}

.form-control {
  border-radius: 25px;
}

.message-input{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}
